/* <!-- Завдання №1. Змініть колір тексту на червоний та фон на жовтий, коли користувач наведе курсор миші на кнопку  -->
  <!--  Використовуйте цей селектор :hover--> */
  .lesson-four-task-one button:hover {
    color: red;
    background: yellow;
  }
/*  <!-- Завдання №2. Змініть фон заголовка на зелений, коли користувач наведе курсор миші на посилання: -->
  <!--  Використовуйте цей селектор :hover--> */
  .lesson-four-task-two a:hover .title {
    background-color: green;
  }